
.wbdv-search-card{
   margin:30px;
}

.wbdv-search-card-img-top {
   width: 100%;
   height: 25vw;
   object-fit: cover;
}

.wbdv-search-details-btn{
   margin-bottom: 10px;
}


.wdbv-searchByID-row {
   margin-top : 55px;
}

.wbdv-searchByID-card-img-top {
   width: 100%;
   height: 25vw;
}